<ion-app mode="ios"> <!-- Inicializa contenedor de Ionic -->
    <ion-header> <!-- Encabezado -->
        <ion-toolbar>
            <ion-title><ion-icon name="basket"></ion-icon>&nbsp;Mi App de Productos</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content> 
        <!-- Contenido -->
        <router-outlet></router-outlet>

        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button routerLink="inicio">
                    <ion-icon name="home"></ion-icon>
                    Inicio
                </ion-tab-button>
                <ion-tab-button routerLink="buscar">
                    <ion-icon name="search"></ion-icon>
                    Buscar
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>

    </ion-content>

    

</ion-app>
